@charset "UTF-8";
/* CSS Document */

.navbar-brand {
	height:80vh;
	width:auto;
}

.parallax { 
  /* The image used */
  background-image: url("../assets/drew-beamer-Fp7qRMsOB0s-unsplash.jpg");

  /* Set a specific height */
  height: 85vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption {
	text-align:right;
	text-shadow: 2px 5px 20px black;
	
}

.drop{
	text-shadow: 2px 5px 20px black;
}

.hov:hover{
	color:red;
}

.home-hero{
		width: 100%;
        height: 100%;            
        position: absolute;
        top: 0;
        left: 0;
}

.stack {
	z-index: 9;
    margin: 20px;
}


.dealer-grid{
	display: flex;
	flex-wrap: wrap;
	list-style-type: non;
	padding-left: 0;
}

.dealer-card{
	flex: 0 0 calc(50%-10px);
	margin: 5px;
	padding: 0px;
	text-align: center;
	box-sizing: border-box;
}

.car-grid{
	display: flex;
	flex-wrap: wrap;
	list-style-type: non;
	padding-left: 0;
}

.car-card{
	flex: 0 0 calc(20%-10px);
	margin: 5px;
	padding: 5px 0;
	text-align: center;
	box-sizing: border-box;
}

.make-grid{
	display: flex;
	flex-wrap: wrap;
	list-style-type: non;
	padding-left: 0;
}

.make-card{
	flex: 0 0 calc(20%-10px);
	margin: 5px;
	padding: 5px 0;
	text-align: center;
	box-sizing: border-box;
}

