<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
   <servlet>
        <servlet-name>thedrag</servlet-name>
        <jsp-file>/thedrag.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
        <servlet-name>thedrag</servlet-name>
        <url-pattern>/thedrag</url-pattern>
  </servlet-mapping> 
     
     
  <servlet>
	     <servlet-name>about</servlet-name>
    	 <jsp-file>/html/about.html</jsp-file>
  </servlet>
  
  <servlet-mapping>
     	<servlet-name>about</servlet-name>
     	<url-pattern>/about</url-pattern>
  </servlet-mapping>
  
  <servlet>
	     <servlet-name>gitabout</servlet-name>
    	 <jsp-file>/gitabout.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
     	<servlet-name>gitabout</servlet-name>
     	<url-pattern>/gitabout</url-pattern>
  </servlet-mapping>
  
  <servlet>
	     <servlet-name>json</servlet-name>
    	 <servlet-class>thedrag.GithubStatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     	<servlet-name>json</servlet-name>
     	<url-pattern>/json</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>makes</servlet-name>
    	 <jsp-file>/html/makes.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>makes</servlet-name>
     	<url-pattern>/makes</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>models</servlet-name>
    	 <jsp-file>/html/models.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>models</servlet-name>
     	<url-pattern>/models</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>dealers</servlet-name>
    	 <jsp-file>/html/dealers.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>dealers</servlet-name>
     	<url-pattern>/dealers</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>honda</servlet-name>
    	 <jsp-file>/html/honda.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>honda</servlet-name>
     	<url-pattern>/honda</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>toyota</servlet-name>
    	 <jsp-file>/html/toyota.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>toyota</servlet-name>
     	<url-pattern>/toyota</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>subaru</servlet-name>
    	 <jsp-file>/html/subaru.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>subaru</servlet-name>
     	<url-pattern>/subaru</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>accord</servlet-name>
    	 <jsp-file>/html/accord.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>accord</servlet-name>
     	<url-pattern>/accord</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>pilot</servlet-name>
    	 <jsp-file>/html/pilot.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>pilot</servlet-name>
     	<url-pattern>/pilot</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>c-hr</servlet-name>
    	 <jsp-file>/html/c-hr.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>c-hr</servlet-name>
     	<url-pattern>/c-hr</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>highlander</servlet-name>
    	 <jsp-file>/html/highlander.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>highlander</servlet-name>
     	<url-pattern>/highlander</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
	     <servlet-name>brz</servlet-name>
    	 <jsp-file>/html/brz.html</jsp-file>
  </servlet>
  <servlet-mapping>
     	<servlet-name>brz</servlet-name>
     	<url-pattern>/brz</url-pattern>
  </servlet-mapping>
  
  <servlet>
         <servlet-name>forester</servlet-name>
         <jsp-file>/html/forester.html</jsp-file>
  </servlet>
  <servlet-mapping>
         <servlet-name>forester</servlet-name>
         <url-pattern>/forester</url-pattern>
  </servlet-mapping>
  
  <servlet>
         <servlet-name>git</servlet-name>
         <jsp-file>/html/git.html</jsp-file>
  </servlet>
  <servlet-mapping>
         <servlet-name>git</servlet-name>
         <url-pattern>/git</url-pattern>
  </servlet-mapping>
  
    <servlet>
         <servlet-name>sitemap</servlet-name>
         <jsp-file>/html/sitemap.html</jsp-file>
  </servlet>
  <servlet-mapping>
         <servlet-name>sitemap</servlet-name>
         <url-pattern>/sitemap</url-pattern>
  </servlet-mapping>
  
  

     
     
  <welcome-file-list>
    <welcome-file>sitemap</welcome-file>
  </welcome-file-list>
</web-app>
